:root {
    --dark_blue: #486273;
    --mid_blue: #7EA1BF;
    --light_blue: #A0CCF2;
    --white: #F2F2F2;
    --mid_grey_white: #ddd;
    --grey: #eee;
    --dark_grey: #626262;
    --light_yellow: #F2F2E4;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.top_bar {
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
    background-color: var(--dark_blue);
    box-shadow: 0px 1.5px 2px rgba(18, 27, 44, 0.4);
}

.top_bar li a {
    display: block;
    padding: 14px 16px;
    color: var(--white);
    text-decoration: none;
}

.top_bar li a:hover {
    background-color: var(--light_blue);
}

.menu {
    flex: 1;
    display: flex;
}

.side_bar {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--mid_blue);
    min-height: calc(100vh - 100px);
}

.side_bar li a {
    display: block;
    padding: 14px 16px;
    color: var(--white);
    text-decoration: none;
}

.side_bar li a.active {
    background-color: var(--light_blue);
}

.side_bar li a:hover {
    background-color: var(--light_blue);
}

img {
    max-width: 50%;
}

.content {
    flex: 1;
    padding: 20px;
    background: var(--white);
    color: var(--dark_blue);
}

.bottom_bar {
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
    background-color: var(--dark_blue);
}

.bottom_bar li a {
    display: block;
    padding: 14px 16px;
    color: var(--white);
    text-decoration: none;
}

.bottom_bar li a:hover {
    background-color: var(--light_blue);
}

